
<div class="center jumbotron">
  <h1>love letters for You...</h1>
  <%= link_to "Sign Up Now>>", signup_path, class: "btn btn-info btn-lg btn-xlarge" %><br/>
  <%= link_to "Login Instead>>", signup_path, class: "btn btn-info btn-lg btn-xlarge" %>
</div>
