<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy;
			<a href="#">Alpha Blog Company </a>
			by <a href="#">Rabin Poudyal</a>
		</small>
		<nav>
			<ul>
				<%= link_to "About us", about_path %></ul>
				<ul><%= link_to 'Contact us', contact_path %></ul>
			</ul>
		</nav>
	</footer>
</div>